<footer>

    <div class="logo-footer">
        <a href="/"><img src="/images/logos/LogoGray.svg" alt="Logo Genial de Intercel en Gris"></a>
    </div>

    <div class="redes-container">
        <h5>Encuentranos en</h5>
        <ul>
            <li><a href="/proximamente"><img src="/images/logos/FB.svg" alt="Facebook logo"></a></li>
            <li><a href="/proximamente"><img src="/images/logos/youtube.svg" alt="Youtube logo"></a></li>
            <li><a href="/proximamente"><img src="/images/logos/IG.svg" alt="Instagram logo"></a></li>
        </ul>
    </div>

    <div class="pagos-container">
        <h5>Métodos de Pago</h5>
        <ul>
            <li><img src="/images/logos/mastercard.svg" alt="MasterCard"></li>
            <li><img src="/images/logos/visa.svg" alt="Visa"></li>
            <li><img src="/images/logos/americanExpress.svg" alt="American Express"></li>
        </ul>
        </div>

    <nav class="nav-footer">
        <h5>Mapa del Sitio</h5>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/products/list">Productos</a></li>
            <li><a href="/proximamente">Nosotros</a></li>
            <li><a href="/proximamente">FAQ</a></li>
            <li><a href="/users/login">Ingresar</a></li>
        </ul>
    </nav>


</footer>