<header>
    <div class="logo-header"><a href="/"><img src="/images/logos/Logo.svg" alt="Logo Genial de Intercel"></a></div>
    
    <div class="search-bar"><input type="text" placeholder="¿Qué buscas?"><i class="fas fa-search" id="search-icon"></i></div>

    <nav class="nav-header">
        <i class="fas fa-bars" id="hamburger-menu"></i>
        <ul>
            <li id="productos-header"><a href="/products/list">Productos</a></li>
            <li id="nosotros-header"><a href="/proximamente">Nosotros</a></li>
            <li id="login-header">
                <i class="far fa-user" id="user-icon"></i>
                <a href="/users/login">Iniciar Sesión <span>Mi Cuenta</span></a>
            </li>
            <li id="carrito-header"> 
                <i class="fas fa-shopping-cart" id="carrito-icon"></i>
                <a href="/cart/list">Carrito</a>
            </li>
        </ul>
    </nav>
</header>
