<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Intercel - Editar</title>
</head>
<body>
    <div  class="backButton"><a href="/"><i class="fas fa-arrow-left"></i>    Volver</a></div>

        <div class="container">
        <a href="/"> <img src="/images/logos/Logo.svg" width="200"> </a>
        <h2>Editar producto</h2>
            <form class="createForm" action="/" method="POST">
                <br>
                <div class="formControl">
                    <label>Modelo</label>
                    <input placeholder="" type="email" name="email" class="control" required>
                </div>
                <div class="formControl">
                    <label>Descripción del producto</label>
                    <input type="text" name="description" class="control" minlength="10">
                </div>
                <div class="formControl">
                    <label>Imagen</label>
                    <input type="file" name="photo" accept = ".jpg" required>>
                </div>
                <div class="formControl">
                    <label>Precio</label>
                    <input type="tel" name="price" class="control" minlength="1" required>
                </div>
                <div class="formControl">
                    <label>Alto</label>
                    <input type="number" step="0.1" name="high" class="control" minlength="1" required>
                </div>
                <div class="formControl">
                    <label>Ancho</label>
                    <input type="number" step="0.1" name="width" class="control" minlength="1" required>
                </div>
            
                <button type="submit" class="formButton">Cargar producto</button>
            
            </form>
        </div>
</body>
</html>