<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>volver</div>
    <!--centrado el logo-->
    <div class="logo-header"><img src="/images/logos/Logo.svg" alt="Logo Genial de Intercel"></div>
    <div>Iniciar sesion</div>
    <br>
    <div>Correo electronico</div>
    <input placeholder="Escriba su correo electronico"> </input>
    <div>Contrasena</div>
    <input placeholder="Escriba su contrasena"> </input>
    <div>Olvidaste tu contrasena?</div>
    <br>
    <div>Iniciar sesion</div>
    <div>No tienes cuenta? Registrate aqui</div>
</body>
</html>
