<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Intercel</title>
    <link rel="stylesheet" href="/css/login-register.css">
    
    
<!-- Font DM Sans de GoogleFonts -->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap" rel="stylesheet">

<!-- FontAwesome para los iconitos -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />

</head>
<body>   
    <div  class="boton-volver"><a href="/"><i class="fas fa-arrow-left"></i>    Volver</a></div>
    <main>

    <div class="contenedor">
        <img src="/images/logos/Logo.svg" width="200">
        <h2>Iniciar sesión</h2>
        <form class="create-form" action="/login" method="POST">
    
            <div class="control-formulario">
                <label>Nombre de usuario</label>
                <input type="text" name="usuario" class="control" required>
            </div>
            <div class="control-formulario">
                <label>Contraseña</label>
                <input type="password" name="contrasena" class="control" required>
                <div class="textos"><a href="#"> Olvidé mi contraseña</a></div>
            </div>
           <br>
            <button type="menu" class="boton-formulario">Iniciar sesión</button>
            <div class="textos">No tienes cuenta?<a href="register"> Registrate</a></div>

        </form>
    </div>
    </main>    

</body>
</html>