<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
<!-- Font DM Sans de GoogleFonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap" rel="stylesheet">

<!-- FontAwesome para los iconitos -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />

<!-- nuestros css -->
    <link rel="stylesheet" href="/css/header-footer.css">
    <link rel="stylesheet" href="/css/products.css">

    <title>products</title>
</head>

<body>
    <!-- HEADER -->
    <header id="header-products">
        <div class="logo-header"><a href="/"><img src="/images/logos/Logo.svg" alt="Logo Genial de Intercel"></a></div>
        
        <div class="search-bar"><input type="text" placeholder="¿Qué buscas?"><i class="fas fa-search" id="search-icon"></i></div>

        <nav class="nav-header">
            <i class="fas fa-bars" id="hamburger-menu"></i>
            <ul>
                <li id="productos-header"><a href="/products">Productos</a></li>
                <li id="nosotros-header"><a href="/proximamente">Nosotros</a></li>
                <li id="login-header">
                    <i class="far fa-user" id="user-icon"></i>
                    <a href="/login">Iniciar Sesión <span>Mi Cuenta</span></a>
                </li>
                <li id="carrito-header">
                    <i class="fas fa-shopping-cart" id="carrito-icon"></i>
                    <a href="/cart">Carrito</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <p class="blue-bar"></p>

        <div class="title">
            <h2>Productos</h2>
            <p>Mostrando 1 página de 12</p>
        </div>
        <section>
            <div class="products">
                <article>
                    <img src="/images/cellphones/apple/iphone 11/iphone11-1.png" alt="Iphone 11">
                    <div class="product-features">
                        <h3>Apple</h3>
                        <p>Iphone X</p>
                        <ul>
                            <li>548 GB</li>
                            <li>Cámara triple</li>
                            <li>16GB RAM</li>
                        </ul>
                    </div>
                    <div class="product-price">
                        <h3>Precio</h3>
                        <p>$179.449</p>
                        <input type="button" value="Agregar al carrito" class="add-to-cart-button">
                    </div>
                </article>
                <article>
                    <img src="/images/cellphones/LG/K31/K31-2.png" alt="LG">
                    <div class="product-features">
                        <h3>LG</h3>
                        <p>LG K31</p>
                        <ul>
                            <li>128 GB</li>
                            <li>Cámara triple</li>
                            <li>16GB RAM</li>
                        </ul>
                    </div>
                    <div class="product-price">
                        <h3>Precio</h3>
                        <p>$179.449</p>
                        <input type="button" value="Agregar al carrito" class="add-to-cart-button">
                    </div>
                </article>
            
                <article>
                    <img src="/images/cellphones/motorola/e7/e7-1.png" alt="Motorola">
                    <div class="product-features">
                        <h3>Motorola</h3>
                        <p>Motorola E7</p>
                        <ul>
                            <li>252 GB</li>
                            <li>Cámara triple</li>
                            <li>16GB RAM</li>
                        </ul>
                    </div>
                    <div class="product-price">
                        <h3>Precio</h3>
                        <p>$179.449</p>
                        <input type="button" value="Agregar al carrito" class="add-to-cart-button">
                    </div>
                </article>
                <article>
                    <img src="/images/cellphones/samsung/S20/s20-4.png" alt="Samsung">
                    <div class="product-features">
                        <h3>Samsung</h3>
                        <p>S20</p>
                        <ul>
                            <li>128 GB</li>
                            <li>4 cámaras</li>
                            <li>16GB RAM</li>
                        </ul>
                    </div>
                    <div class="product-price">
                        <h3>Precio</h3>
                        <p>$179.449</p>
                        <input type="button" value="Agregar al carrito" class="add-to-cart-button">
                    </div>
                </article>
            </div>
            <a href="#">Siguiente página</a>
        </section>
    </main>

    <footer id="footer-products">
        <div class="logo-footer">
            <a href="/"><img src="/images/logos/LogoGray.svg" alt="Logo Genial de Intercel en Gris"></a>
        </div>

        <div class="redes-container">
            <h5>Encuentranos en</h5>
            <ul>
                <li><a href="/proximamente"><img src="/images/logos/FB.svg" alt="Facebook logo"></a></li>
                <li><a href="/proximamente"><img src="/images/logos/youtube.svg" alt="Youtube logo"></a></li>
                <li><a href="/proximamente"><img src="/images/logos/IG.svg" alt="Instagram logo"></a></li>
            </ul>
        </div>

        <div class="pagos-container">
            <h5>Métodos de Pago</h5>
            <ul>
                <li><img src="/images/logos/mastercard.svg" alt="MasterCard"></li>
                <li><img src="/images/logos/visa.svg" alt="Visa"></li>
                <li><img src="/images/logos/americanExpress.svg" alt="American Express"></li>
            </ul>
            </div>

        <nav class="nav-footer">
            <h5>Mapa del Sitio</h5>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/products">Productos</a></li>
                <li><a href="/proximamente">Nosotros</a></li>
                <li><a href="/proximamente">FAQ</a></li>
                <li><a href="/login">Ingresar</a></li>
            </ul>
        </nav>
    </footer>
</body>
</html>