<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('partials/head') %>

<!-- nuestros css -->
    <link rel="stylesheet" href="/css/header-footer.css">
    <link rel="stylesheet" href="/css/product-detail.css">

    <title>Intercel</title>
</head>
<body>
    <!-- HEADER -->
    <%- include('partials/header') %>
    
    <main>
        <a href="/products">Volver al Listado</a>
        <section class="producto-container">
            <article class="fotos-secundarias-container">
            
                <div><img src="/images/cellphones/samsung/Note20/Note20-1.png" alt="Preview celular 1"></div>
                <div><img src="/images/cellphones/samsung/Note20/Note20-2.png" alt="Preview celular 2"></div>
                <div><img src="/images/cellphones/samsung/Note20/Note20-3.png" alt="Preview celular 3"></div>
            
            </article>
            
            <article class="foto-principal-container">
            
                <div><img src="/images/cellphones/samsung/Note20/Note20-4.png" alt="Celular Note20"></div>
            
            </article>
                
            <article class="informacion-container">
                <div>
                    <h2 class="marca">Samsung</h2>
                    <h1 class="celular-nombre">Note 20</h1>
                </div>
                <p class="descripcion">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum dicta autem commodi eum consequatur deserunt. Qui vitae illo sint tempore accusamus? Cum blanditiis excepturi, nam perferendis doloribus consequatur nulla voluptatum.</p>
                
                <div class="bottom-info">
                    <div class="precio-container">
                        <h3>Precio</h3>
                        <p>$113.999</p>
                    </div>
            
                    <button>Agregar al Carrito  <i class="fas fa-shopping-cart" id="carrito-icon-body"></i></button>
                </div>
            </article>
        
        </section>
        
        <section class="relacionados-container">
            
            <div class="relacionados-info">
            <p class="relacionados-marca">Más de <span>Samsung</span></p>
            <div class="relacionados-logo"><img src="/images/logos/samsung.png" alt="Samsung Logo"></div>
            </div>

            <div class="relacionados-foto-container">
                <a href="/product-detail"><img src="/images/cellphones/samsung/A71/a71-1.png" alt="Preview Celular 2"><p class="relacionado-nombre">A71</p></a>
            </div>
            <div class="relacionados-foto-container">
                <a href="/product-detail"><img src="/images/cellphones/samsung/S20/s20-1.png" alt="Preview Celular 3"><p class="relacionado-nombre">S20</p></a>
            </div>
        
        </section>
    
    
    
    
    </main>
    
    <!-- FOOTER -->
    <%- include('partials/footer') %>

</body>
</html>