<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('partials/head') %>

<!-- nuestros css -->
    <link rel="stylesheet" href="/css/header-footer.css">
    <link rel="stylesheet" href="/css/product-cart.css">

    <title>Carrito</title>
</head>
<body>
    <!-- HEADER -->
    <%- include('partials/header') %>
    <main>
        <section class="process">
            <div>
                <i class="fas fa-check"></i>
                <p>Compra</p>
                <i class="fas fa-chevron-right"></i>
                <p class="numeral">2</p>
                <p>Despacho</p>
                <i class="fas fa-chevron-right"></i>
                <p class="numeral">3</p>
                <p>Pago</p>
                <i class="fas fa-chevron-right"></i>
                <p class="numeral">4</p>
            <p>Confirmación</p>
            </div>
        </section>
        <h2 class="order">Orden de compra</h2>
        <div class="main-content">
            <div class="carts">
                <section class="cart">
                    
                    <article class="cart1">
                        <div class="product-container1">
                            <img src="/images/Iphone.png" class="iphone">
                            <div class="product-features">
                                <h3>Apple</h3>
                                <p>Iphone X</p>
                                <ul>
                                    <li>Negro</li>
                                    <li>128 GB</li>
                                    <li>8GB RAM</li>
                                </ul>
                            </div>
                            <div class="delivery">
                                <h3>Envío</h3>
                                <p>Domicilio</p>
                                <i class="fas fa-truck"></i>
                            </div>
                        </div>
                        <div class="product-container2">
                            <div class="product-price">
                                <h3>Precio</h3>
                                <p>$179.449</p>
                            </div>
                            <div class="product-quantity">
                                <h3>Cantidad</h3>
                                <div class="quantity-button">
                                    <p class="symbol" >-</p>
                                    <p>1</p>
                                    <p class="symbol" >+</p>
                                </div>
                            </div>
                        </div>
                        <p class="delete-product">Eliminar</p>
                    </article>
                    <article class="cart2">
                        <div class="product-container1">
                            <img src="/images/Moto.png" alt="motorola">
                            <div class="product-features">
                                <h3>Motorola</h3>
                                    <p>Motorola G7</p>
                                    <ul>
                                        <li>Negro</li>
                                        <li>128 GB</li>
                                        <li>8GB RAM</li>
                                    </ul>
                            </div>
                            <div class="delivery">
                                <h3>Envío</h3>
                                <p>Domicilio</p>
                                <i class="fas fa-truck"></i>
                            </div>
                        </div>
                        <div class="product-container2">
                            <div class="product-price">     
                                <h3>Precio</h3>
                                <p>$179.449</p>
                            </div>   
                            <div class="product-quantity">
                                <h3>Cantidad</h3>
                                <div class="quantity-button">
                                    <p class="symbol">-</p>
                                    <p>1</p>
                                    <p class="symbol">+</p>
                                </div>
                            </div>
                        </div>
                        <p class="delete-product">Eliminar</p>
                    </article>
                </section>
            </div>
            <section class="payment">
                <div class="discount-button">
                    <input type="text" value="Código de descuento" class="discount-number">
                    <input type="button" value="Aplicar" class="apply-button">
                </div>
                <div class="order-summary">
                    <h3>Resumen de tu Orden</h3>
                    <div class="summary">
                        <div class="subtotal">
                            <h4>Subtotal productos</h4>
                            <p>$349.998</p>
                        </div>
                        <div class="delivery-cost">
                            <h4>Envío</h4>
                            <p>$0</p>
                        </div>
                        <div class="final-discount">
                            <h4>Descuentos</h4>
                            <p>$0</p>
                        </div>
                        <div class="total">
                            <h4>Total</h4>
                            <p>$349.998</p>
                        </div>
                    </div>
                    <div class="payment-button">
                        <input type="button" value="Finalizar compra" class="p-button">
                    </div>
                </div>
            </section>
        </div>
    
    </main>
    
    <!-- FOOTER -->
    <%- include('partials/footer') %>
</body>
</html>
