<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('partials/head') %>

<!-- nuestros css -->
    <link rel="stylesheet" href="/css/header-footer.css">
    <link rel="stylesheet" href="/css/products.css">

    <title>Products</title>
</head>

<body>
    <!-- HEADER -->
    <%- include('partials/header') %>
    
    <main>
        <p class="blue-bar"></p>

        <div class="title">
            <h2>Productos</h2>
            <p>Mostrando 1 página de 12</p>
        </div>
        <section>
            <div class="products">
                <article>
                    <img src="/images/cellphones/apple/iphone 11/iphone11-1.png" alt="Iphone 11">
                    <div class="product-features">
                        <h3>Apple</h3>
                        <p>Iphone X</p>
                        <ul>
                            <li>548 GB</li>
                            <li>Cámara triple</li>
                            <li>16GB RAM</li>
                        </ul>
                    </div>
                    <div class="product-price">
                        <h3>Precio</h3>
                        <p>$179.449</p>
                        <input type="button" value="Agregar al carrito" class="add-to-cart-button">
                    </div>
                </article>
                <article>
                    <img src="/images/cellphones/LG/K31/K31-2.png" alt="LG">
                    <div class="product-features">
                        <h3>LG</h3>
                        <p>LG K31</p>
                        <ul>
                            <li>128 GB</li>
                            <li>Cámara triple</li>
                            <li>16GB RAM</li>
                        </ul>
                    </div>
                    <div class="product-price">
                        <h3>Precio</h3>
                        <p>$179.449</p>
                        <input type="button" value="Agregar al carrito" class="add-to-cart-button">
                    </div>
                </article>
            
                <article>
                    <img src="/images/cellphones/motorola/e7/e7-1.png" alt="Motorola">
                    <div class="product-features">
                        <h3>Motorola</h3>
                        <p>Motorola E7</p>
                        <ul>
                            <li>252 GB</li>
                            <li>Cámara triple</li>
                            <li>16GB RAM</li>
                        </ul>
                    </div>
                    <div class="product-price">
                        <h3>Precio</h3>
                        <p>$179.449</p>
                        <input type="button" value="Agregar al carrito" class="add-to-cart-button">
                    </div>
                </article>
                <article>
                    <img src="/images/cellphones/samsung/S20/s20-4.png" alt="Samsung">
                    <div class="product-features">
                        <h3>Samsung</h3>
                        <p>S20</p>
                        <ul>
                            <li>128 GB</li>
                            <li>4 cámaras</li>
                            <li>16GB RAM</li>
                        </ul>
                    </div>
                    <div class="product-price">
                        <h3>Precio</h3>
                        <p>$179.449</p>
                        <input type="button" value="Agregar al carrito" class="add-to-cart-button">
                    </div>
                </article>
            </div>
            <a href="#">Siguiente página</a>
        </section>
    </main>

    <!-- FOOTER -->
    <%- include('partials/footer') %>
</body>
</html>