
<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('partials/head') %>
<!-- nuestros css -->
    <link rel="stylesheet" href="/css/header-footer.css">
    <title>Intercel</title>
</head>
<body>
    <!-- HEADER -->
    <%- include('partials/header') %>
    <h2>Próximamente en Intercel...</h2>
    <img src="/images/home/soon.png" alt="proximamente" style="width: 100%;">
    <h3>...el resto de la página.</h3>
    <p style="margin-bottom:15px">Stay tuned!</p>
    <!-- FOOTER -->
    <%- include('partials/footer') %>
    


</body>
</html>