*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
    font-size: 14px;
}
/* HEADER */
body{
    min-width: 290px;
}
header{
    width: 100vw;
    padding: 10px;
    background-color: #f1f1f1;

    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.logo-header{
    height: 30px;
    margin-left: 5px;
}

img{
    width: 100%;
    height: 100%;
}

.search-bar{
    width: 75%;
    margin: 0 5px;
    display: flex;
    justify-content: center;
}
input{
    width: 80%;
    padding: 6px;
    font-size: 12px;
    border-radius: 8px 0 0 8px ;
    border: 1px solid #B7BDC7;
}
#search-icon{
    font-size: 10px;
    padding: 9px;
    border-radius: 0 8px 8px 0 ;
    border: 1px solid #B7BDC7;
    background-color: #71D894;
}

.nav-header{
    flex-grow: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav-header ul{
    display: none;
}
#hamburger-menu{
    padding: 10px;
    color: #000000;
    background-color: #71D894;
    border-radius: 8px;

}

/* FOOTER */
footer{
    height: 280px;
    display: flex;
    background-color: #f1f1f1;
    border-top: 1px solid #2E3646;

    flex-direction: column;
    justify-content: space-evenly;  
    
}

.logo-footer{
    height: 100px;
    
}

h5{
    width: 100%;
    text-align: center;
    color: #2E3646;
    font-size: 16px;
    font-weight: 700;
    
}

.redes-container ul{
    width:50%;
    margin: 5px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.redes-container ul li{
    list-style: none;
    width: 33%;
    text-align: center;
}
.redes-container img{
    height: 18px;
    width: 18px;
}

.pagos-container ul{
    width:50%;
    margin: 5px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.pagos-container ul li{
    list-style: none;
    width: 33%;
    text-align: center;
}
.pagos-container img{
    height: 50px;
    width: 50px;
}

.nav-footer{
    display: none;
}






/* tablet */
@media (min-width: 361px){
   /* HEADER */
    #hamburger-menu{
        display: none;
    }
    header{
        flex-wrap: wrap;
    }

    .search-bar{
        margin-left: auto;
        width: 50%;
    }
    .nav-header{
        margin-top: 5px;
    }
    .nav-header ul{   
        flex-basis: 100%;
        display: flex;
        justify-content: space-around;
        
    }

    .nav-header li{
        list-style: none;
        height: 40px;
        width: 100%;
        border-right: 2px solid #B7BDC7;
        
        display: flex;
        align-items: center;
        justify-content: center;
        /* padding: 0 10px; */
    }

    .nav-header a{
        text-decoration: none;
        color: #2E3646;
        display: block;
        /* width: 100%; */
        font-size: 12px;
        font-weight: 500;

        text-align: center;
    }

    #login-header{
        flex-grow: 1;
        display: flex;
        /* min-width: 95px; */
        padding-right: 5px;
    }
    #user-icon,
    #carrito-icon{
        font-size: 18px;    
        margin: 0 5px;
    }
    
    #login-header a{
        min-width: 75px;

    }
    
    #login-header a,
    #carrito-header a{
        text-align: left;
        line-height: 12px;    
    }
    
    #login-header span{
        display: block;
        font-size: 10px;
        color: #868FA0;
    }
    
    #carrito-header{
        flex-grow: 1;
        border-right: none;
        padding-right: 1px;
    }
    
    /* FOOTER */
    footer{
        height: auto;
        padding-top: 10px;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        
    }
    
    .pagos-container,
    .logo-footer,
    .redes-container,
    .nav-footer{
        flex-basis: 50%;
    }
    
    .pagos-container,
    .logo-footer{
        order:-1;
    }

    .pagos-container ul{
        width: 85%;
    }

    .nav-footer{
        display: block;
    }

    .nav-footer ul{
        width:80%;
        margin: 5px auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .nav-footer ul li{
        list-style: none;
        text-align: left;
        flex-basis: 50%;
    }

    .nav-footer ul li:nth-child(2),
    .nav-footer ul li:nth-child(4){
        text-align: right;
    }

    .nav-footer ul li a{
        text-decoration: none;
        color: #2E3646;
        font-size: 12px;
        font-weight: 500;
    }
}

/* desktop */
@media (min-width: 769px){
    /* HEADER */
    header{
        flex-wrap: nowrap;
    }
    .nav-header{
        margin-top:0;
        margin-left: 15px;
    }    
    .search-bar{
        width: 33%;
    }
    .logo-header{
        margin: 0 15px;
    }

    /* FOOTER */
    footer{
        height: 250px;
        flex-wrap: nowrap;
        align-items: flex-start;
    }
    h5{
        text-align: left;
    }
    
    .nav-footer{
        order:1;
    }
    .redes-container{
        order:2;
    }
    .pagos-container{
        order:3;
    }
    
    .nav-footer ul,
    .redes-container ul,
    .pagos-container ul{
        width:auto;
        margin: 10px auto;
        justify-content: flex-start;
    }
    .nav-footer ul{
        height: 150px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
    }
    .nav-footer ul li{
        flex-basis: auto;
    }
    .redes-container ul li{
        text-align: left;
    }
    .pagos-container ul{
        width:auto;
        margin-top: 0;
    }
    .pagos-container ul li{
        flex-basis:50%;
        text-align: left;
    }
}