*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
    font-size: 14px;
}
body{
    min-width: 290px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* HEADER */
body>header,
body>footer{
    width: 100vw;
}
body>header{
    padding: 5px 10px;
    background-color: #f1f1f1;

    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

header .logo-header{
    height: 30px;
    margin-left: 5px;
}

body>header img,
body>footer img{
    height: 100%;
    width: 100%;
}

header .search-bar{
    width: 75%;
    margin: 0 5px;
    display: flex;
    justify-content: center;
}
header input{
    width: 80%;
    padding: 6px;
    font-size: 12px;
    border-radius: 8px 0 0 8px ;
    border: 1px solid #B7BDC7;
}
#search-icon{
    font-size: 10px;
    padding: 9px;
    border-radius: 0 8px 8px 0 ;
    border: 1px solid #B7BDC7;
    background-color: #71D894;
}

header .nav-header{
    flex-grow: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
header .nav-header ul{
    display: none;
}
.login-form-container{
    display: none;
    position: absolute;
    z-index: 1000;
    top: 60px;
    right: 15px;
}
#hamburger-menu{
    padding: 10px;
    color: #000000;
    background-color: #71D894;
    border-radius: 8px;

}

/* FOOTER */
footer{
    height: 280px;
    display: flex;
    background-color: #f1f1f1;
    border-top: 1px solid #2E3646;

    flex-direction: column;
    justify-content: space-evenly;  
    
}

footer .logo-footer{
    height: 100px;
    
}

footer h5{
    width: 100%;
    text-align: center;
    color: #2E3646;
    font-size: 16px;
    font-weight: 700;
    
}


footer .pagos-container ul li,
footer .redes-container ul li{
    list-style: none;
    text-align: center;
}
footer .redes-container img{
    height: 18px;
    width: 18px;
}

footer .redes-container ul,
footer .pagos-container ul{
    width:70%;
    margin: 5px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

footer .pagos-container img{
    height: 50px;
    width: 50px;
}

footer .nav-footer{
    display: none;
}






/* tablet */
@media (min-width: 361px){
   /* HEADER */
    #hamburger-menu{
        display: none;
    }
    header{
        flex-wrap: wrap;
    }

    header .search-bar{
        margin-left: auto;
        width: 50%;
    }
    header .nav-header{
        margin-top: 10px;
    }
    header .nav-header ul{   
        flex-basis: 100%;
        display: flex;
        justify-content: space-around;
        
    }

    header .nav-header li{
        list-style: none;
        height: 40px;
        width: 100%;
        border-right: 2px solid #B7BDC7;
        
        display: flex;
        align-items: center;
        justify-content: center;
    }

    header .nav-header a{
        text-decoration: none;
        color: #2E3646;
        display: block;

        font-size: 12px;
        font-weight: 500;

        text-align: center;
    }

    #login-header{
        flex-grow: 1;
        display: flex;

        padding-right: 5px;
    }
    #user-icon,
    #carrito-icon{
        font-size: 18px;    
        margin: 0 5px;
    }
    
    #login-header a{
        min-width: 75px;

    }
    
    #login-header a,
    #carrito-header a{
        text-align: left;
        line-height: 12px;    
    }
    
    #login-header span{
        display: block;
        font-size: 10px;
        color: #868FA0;
    }
    
    #carrito-header{
        flex-grow: 1;
        border-right: none;
        padding-right: 1px;
    }
    
    /* FOOTER */
    footer{
        height: auto;
        padding-top: 10px;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        
    }
    
    footer .pagos-container,
    footer .logo-footer,
    footer .redes-container,
    footer .nav-footer{
        flex-basis: 50%;
    }
    
    footer .pagos-container,
    footer .logo-footer{
        order:-1;
    }

    footer .pagos-container ul{
        width: 85%;
    }

    footer .nav-footer{
        display: block;
    }

    footer .nav-footer ul{
        width:80%;
        margin: 5px auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    footer .nav-footer ul li{
        list-style: none;
        text-align: left;
        flex-basis: 50%;
    }

    footer .nav-footer ul li:nth-child(2),
    footer .nav-footer ul li:nth-child(4){
        text-align: right;
    }

    footer .nav-footer ul li a{
        text-decoration: none;
        color: #2E3646;
        font-size: 12px;
        font-weight: 500;
    }
    
    footer .redes-container ul li{
        margin: 0 auto;
    }
}

/* desktop */
@media (min-width: 769px){
    /* HEADER */
    header{
        flex-wrap: nowrap;
    }
    header .nav-header{
        position: relative;
        margin-top:0;
        margin-left: 15px;
    }    
    header .search-bar{
        width: 33%;
    }
    header .logo-header{
        margin: 0 15px;
    }

    /* FOOTER */
    footer{
        height: 250px;
        flex-wrap: nowrap;
        align-items: flex-start;
    }
    footer h5{
        text-align: left;
    }
    
    footer .nav-footer{
        order:1;
    }
    footer .redes-container{
        order:2;
    }
    footer .pagos-container{
        order:3;
    }
    
    footer .nav-footer ul,
    footer .redes-container ul,
    footer .pagos-container ul{
        width:auto;
        margin: 10px auto;
        justify-content: flex-start;
    }
    
    footer .nav-footer ul{
        height: 150px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
    }
    footer .nav-footer ul li{
        flex-basis: auto;
    }
    footer .redes-container ul li{
        text-align: left;
        margin: 0 auto 0 0;
    }
    footer .pagos-container ul{
        width:auto;
        margin-top: 0;

    }
    footer .pagos-container ul li{
        flex-basis:50%;
        text-align: left;
        margin:0;
    }
    /*login div para pasar a click con js */
    #login-header a:hover .login-form-container{
        display: block;
        opacity:1;
    }

    .login-form-container{
        background-image: url("/images/home/cel-login.png");
        background-size: contain;

        height: 400px;
        width: 200px;

        /* opacity: 0; */
        
        position: absolute;
        z-index: 1000;
        top: 60px;
        right: 15px;
        
        background-color: #f1f1f1;
    }
    .login-form{
        padding: 40px 15px;
        width: 100%;

    }
    .login-form h2{
        width: 100%;
        font-size: 21px;
        text-align: center;
    }
    .control-form label{
        margin: 10px 0 0 0;
        font-weight:700;
        
    }
    .control{
        width: 100%;
        margin:0;
        border: none;
        border-radius: 0px;
        border-bottom: solid 1px rgba(0,0,0,.7);
        background-color: rgba(255,255,255,.5);
    }
    .control-error{
        margin: 0;
        font-size: 10px;
        font-weight:600;
        color:#790000;
    }
    .boton-login{
        margin: 10px 0;
        width: 100%;
        border-radius: 5px;
        border: 1px solid rgba(0,0,0,.7);
        background-color:#71d893;
        transition: all .5s;
    }
    .boton-login:hover{
        background-color:#b5ffce;
    }
    
    .register-container{
        width: 100%;
        display: flex;
        margin-top: 15px;
    }
    
    .register-container p,
    #register-button{
        width: 50%;
        margin:0;
        text-align: center;
        font-size: 14px;
        color: #2E3646;
    }
    #register-button{
        font-weight: 700;;
    }
}