
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
main section{
    margin-bottom: 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
main section h2{
    margin: 5px;
    color: #2E3646;
    font-size: 16px;
}
main section h3{
    color: #2E3646;
    font-size: 14px;
    font-weight: 700;
}

.carousel-item{
    height: 20rem;
}
.carousel-container{
    position: relative;
    order: -1;
}

#slide1{
    background-image: url(../images/home/IPhone-Banner.jpg);
    text-align: center;
    width: 100vw;
    background-position: center;
    background-size: cover;
}

#slide2{
    background-image: url(../images/home/S21-Banner.jpg);
    text-align: center;
    width: 100vw;
    background-position: center;
    background-size: cover;
}

#slide3{
    background-image: url(../images/home/LG-Banner.jpg);
    text-align: center;
    width: 100vw;
    background-position: center;
    background-size: cover;
}

.btn-primary{
    color: #2E3646;
    font-weight: bold;
    font-size: 14px;
    background-color: #71D894;
    border: 1px solid #B7BDC7;
    border-radius: 8px;
    position: absolute;
    top:2%;
    right: 3%;
    
    
}
.btn-primary:hover{
    background-color: #64c283;
    border: 1px solid #B7BDC7;
}


.carousel-control-prev-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%232E3646' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E")
}
.carousel-control-next-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%232E3646' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
.carousel-indicators li{
    background-color: #2e364683;
}
.carousel-indicators .active{
    background-color: #000;
}
.carousel-container button{
    position: absolute;
    bottom: -5%;
    right: 5%;

    font-size: 10px;
    font-weight: 700;
    padding: .4em .5em;
    
    background-color: #71D894;
    border: 1px solid #B7BDC7;
    border-radius: 8px;
}
button a{
    text-decoration: none;
    color: #2E3646;
}
button a i{
    margin-left: 4px;
}
.ofertas-container{
    order: 0;
    width: 100vw;
    background-color: #71D894;
}

.ofertas-producto-container,
.vendidos-producto-container,
.comentarios-card-container{
    text-align: center;
    
    width: 90vw;
    margin-bottom: 15px;
    
    border-radius: 5px;  
}

.comentarios-card-container{
    background-color: #fff;   
}

.ofertas-producto-nombre,
.precio{
    display: inline-block;
    margin: 5px 25px 0;
}
.precio{
    font-weight: 700;
    color: #40B568;
}
.ofertas-producto-container img{
    height: 33vh;
    width: auto;
}
.marcas-container,
.vendidos-container,
.comentarios-container{
    order: 1;
    width: 100vw;
}

div form{
    width:50%;
}

.marcas-container{
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

    background-color: #f1f1f1;
}
.marcas-img-container{
    width: 40%;
    padding: 15px;
    margin: 5px 0;

    /* border-radius: 5px; */
    /* background-color: #fff; */
}
.marcas-img-container img{
    display: block;
    width: 50%;
    margin: auto;
    
}

.vendidos-producto-container{
    position: relative;
    overflow: hidden;
    height: 25vh;
}
.vendidos-producto-container.impar{
    background-color: #4890F1;   
}
.vendidos-producto-container.par{
    background-color: #514DF8; 
}
.vendidos-producto-nombre{
    position: absolute;
    bottom:5%;
    right:5%;
    
    color: #f1f1f1;
    font-size: 16px;
}
.ofertas-producto-container{
    background-color: #f1f1f1;
    overflow: hidden;
}
.comentarios-container{
    order: 1;
}
.comentarios-card-container{
    display: flex;
    flex-direction: column;
    background-color: #f1f1f1;
}
.comentarios-header{
    display: flex;
    padding: 5px 15px;
    text-align: left;

}
.comentarios-img-container{
    position: relative;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    border: 1px solid #B7BDC7;
    overflow: hidden;
}
.comentarios-img-container img{
    width: 55px;
    height: auto;
    position: absolute;
    top:0;
    left:50%;
    transform: translateX(-50%);
}
.comentarios-info-container{
    margin: auto 15px;
}
.comentarios-nombre,
.comentarios-pais{
    margin:0;
}
.comentario{
    text-align: left;
    margin-left: 15px;
}



/* tablet */
@media (min-width: 361px){
    .carousel-container button{
        display: none;
    }
    .carousel-item{
        height: 28rem;
    }
    
    .ofertas-container,
    .vendidos-container{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .ofertas-container h2,
    .vendidos-container h2{
        width: 100%;
        text-align: center;
    }
    .ofertas-producto-container{
        width: 35%;
        margin: 10px 0;
        padding: 5px;
        display: flex;
        flex-direction: column;
        box-shadow: 0px 0px 10px 3px #448259;        
    }
    .ofertas-producto-container img{
        height: auto;
        width: 100%;
    }
    .ofertas-producto-nombre{
        order:2;
    }
    .precio{
        order:3;
    }

    .vendidos-producto-container{
        width: 45%;
        text-align: left;
    }
    .vendidos-producto-container img{
        width: auto;
        height: 100%;
    }
    .vendidos-producto-nombre{
        bottom: initial;
        right: 2%;
        top:50%;
        transform: translateY(-50%);
    }   
}

/* desktop */
@media (min-width: 769px){
    .carousel-container{
        width: 100vw;
        flex-direction: row;
        justify-content: space-between;
        border-radius: 15px;
    }
    .carousel-item{
        height: 34rem;
    }
    .carousel{
        width: 100%;
        margin-left: auto;
    }
    
    
    .carousel-container button{
        order:-1;
        display: block;
        position: absolute;
        right: initial;
        bottom: 15%;
    }
    main section h2{
        font-size: 22px;
    }
    .marcas-container{
        order:0;
    }
    .marcas-img-container img{
        height: 8vh;
    }
    .marcas-img-container{
        width: auto;
        padding: 5px;
    }

    .ofertas-producto-container{
        width: 20%;
        transition: all .5s;
    }
    .ofertas-producto-container:hover{
        transform: scale(1.1) translate(5px, -5px);
    }
    main section h3,
    .precio{
        font-size: 16px;
    }

    .vendidos-producto-container{
        width: 20%;
        height: auto;
    }
    .vendidos-producto-container img{
        width: 100%;
    }
    .vendidos-producto-nombre{
        margin:0;
        padding-top: 25px;
        width: 100%;
        height: 50%;
        bottom:0;
        right: initial;
        top: initial;
        transform: initial;
        text-align: center;
        color:#2E3646;
        background-color: #699b7a;
        opacity: 0;
        transform: translateY(100%);
        transition: all 1s;
    }
    
    .vendidos-producto-container:hover .vendidos-producto-nombre{
        transform: translateY(0);
        opacity: .85;
    }

    .comentarios-container{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .comentarios-container h2{
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
    }
    .comentarios-card-container{
        width: 33%;
        border: 1px solid #2e364683;
        box-shadow: 0px 0px 15px 2px #919191;
    }
}