*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
    font-size: 14px;
}
body{
    min-width: 290px;
    background-color: #2F80EC;
}
img{
    margin-top: 5px;
    margin-left: 5px;
    text-align: center;
    width: 50%;
}

h2{
    margin-top: 30px;
    margin-bottom: 16px;
    font-size: 21px;
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
}

form label{
    text-align: left;
    padding: 5px;
}

.boton-volver{
    padding: 6px 10px;
    width: 85px;
    height: 28px;
    text-align: left;
    background-color: #71D894;
    border-radius: 5%;
    margin: 10px;
    
}

.boton-volver a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.textos{
    text-align: right;
    margin-top: 7px;
}

.logos{
    height: 30px;
    width: 30px;
}

.contenedor{
    margin: auto;
    margin-top:70px;
    text-align: center;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius:3%;
    width: 80vw;
}

.registro-cuenta{
    width:auto;
    margin-bottom: 5px;
    text-align: center;
}

.registro-facebook{
    background-color: #2962ff;
}
.registro-google{
    background-color: #d93025;
}

.registro-google,
.registro-facebook{
    border: none;
    margin-top:3px;
    border-radius: 5%;
    width: 100%;
    height: 40px;
    color:white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    margin-bottom: 5px;
}

.create-form{
    padding:20px 20px;
}

.control-formulario{
    margin-bottom: 10px;
}

.control-formulario label{
    display: block;
}

.control{
    width:100%;
    text-align: center;
    padding:8px 8px;
    border-radius: 5px;
}

.boton-formulario{
    background-color: #71D894;
    border: none;
    color: black;
    padding: 10px 10px;
    font-size:18px;
    border-radius: 5px;
    width: 140px;
    margin: auto;
    margin-top: 15px;
}

@media (min-width: 361px){
    h2{
        margin-top: 40px;  
      }
    form label{
        padding: 2px;
        font-weight: bold;
    }
    img{
        width: 40%;
    }
    .contenedor{
        width: 70vw;
        margin-top:100px;
    }
    .create-form{
        padding: 25px 35px;
    }
    .boton-formulario{
        width: 160px;
    }

    .registro-google,
    .registro-facebook{
        width: 200px;
    }        
}
@media (min-width: 769px){
    img{
        width: 30%;
    }
    .create-form{
        padding: 30px 80px;
    }
    .contenedor{
        width: 50vw;
    }
    
    .registro-google,
    .registro-facebook,
    .boton-formulario{
        width: 200px;
    }
}