main {
    background-color:#F8F9FC;
}

main .blueBar{
    background-color: #1A70E4;
    height: 50px;
    padding: 1em;
}

main .title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 25px 10px;
}

main .title h2{
    font-size: 16px;
}
main .title p{
    color: #868FA0;
    font-size: 12px;
    text-transform: capitalize;
}

article{
    background-color: white;
    margin: 15px 0px;
    padding: 15px 0px;
    
}
article a{
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    text-decoration: none;
    color:inherit;
}
article a:hover{
    text-decoration: none;
}

article a:hover .imgContainer img{
    animation: showMorePics 7s ease-in-out infinite alternate;
}
@keyframes showMorePics {
    0%{
    transform: translateX(0);
    }
    100%{
        transform: translateX(-210%);
    }
}

.imgContainer{
    width: 120px;
    display: flex;
    overflow: hidden;
}


.productFeatures p,.productFeatures li{
    color:#868FA0;
    font-size: 12px;
    text-transform: capitalize;
}



.productPrice input{
    font-weight: 500;
    padding: .25em .5em;
    background-color: #71D894;
    border: 1px solid #B7BDC7;
    border-radius: 8px;
    font-size: 12px;
    margin-top: 15px;

}

.productPrice input:hover{
    background-color: #33d469;
}


.productPrice p{
    color:#40B568;
    font-weight: bold;
}

.nextPage{
    display: block;
    margin-right: 5px;
    font-size: 12px;
    text-align: right;
    margin-bottom: 15px;
}
.errorMsg{
    color:#B7BDC7;
    font-style: italic;
    font-size: 1em;
    margin: 3em;
}



@media (min-width: 361px){

    main{
        margin: auto;
        width: 100%;
    }

    .productFeatures ul{
        margin-top: 5px;
        margin-left: 18px;

    }

    .productPrice input{
        padding: 8px 12px;
    
    }
    
    article{
        max-width: 480px;
        box-shadow: 0px 2px 7px rgba(70, 102, 133, 0.1);
        border-radius: 16px;
        margin-bottom: 25px;
    }

    section{
        margin: auto;
        width: fit-content;
    }
    
    main .title{
        max-width: 800px;
        margin: auto;
    }  
    
    main .title h2, main .title p{
        margin: 15px 10px;
    }

          
}

@media (min-width: 769px){
    article{
        box-shadow: 0px 2px 7px rgba(70, 102, 133, 0.1);
        border-radius: 16px;
        margin-bottom: 25px;


    }
    article img{
        width: 145px;
    }

    .productFeatures{
        margin-left: -50px;
    }
    
    .products article{
        flex-basis:48%;
    }

    .products{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 98%;
        flex-wrap: wrap;
    }

   
}

  

    


