main {
    background-color:#F8F9FC;
}

main .blueBar{
    background-color: #1A70E4;
    width: 100vw;
    height: 50px;
}

main .title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 25px 10px;
}

main .title h2{
    font-size: 16px;
}
main .title p{
    color: #868FA0;
    font-size: 12px;
    text-transform: capitalize;
}

.adminButton{
    width: 85px;
    height: 28px;
    background-color: white;
    border-radius: 5px;
    margin: 8px;
    border: solid #40B568 1px;
}
.adminButton:hover{
    background-color:#71D894
}

.productFeatures p,.productFeatures li{
    color:#868FA0;
    font-size: 12px;
    text-transform: capitalize;
}

.button{
    margin-left: 10px;
}
.button a{
    color:#71D894;
}

.button{
    color:#40B568;
    border: solid #40B568 1px;
    background-color: white;
    font-size: 12px;
    border-radius: 8px;
    padding: 5px 9px;
    margin-top: 15px;
}

.productPrice p{
    color:#40B568;
    font-weight: bold;
    margin-left: 3px
}

.nextPage{
    display: block;
    margin-right: 5px;
    font-size: 12px;
    text-align: right;
    margin-bottom: 15px;
}
.newProductForm{
    display: flex;
    width: 90vw;
    align-items:flex-start;
    padding: 15px;
    background-color: white;
    border-radius: 5px;
    border: solid #40B568 1px;
    justify-content: space-around;
}

img{
    margin-bottom:5px;
    width: 120px;
    margin: 10px;

}

.info{
    width: 70%;
    display: flex;
    justify-content: space-between;    
    padding: 5px;
}
.products{
    justify-content: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
}
.products article{
    background: white;
    border-radius: 5px;
    display: flex;
    align-items: stretch;
    margin: 10px;
    justify-content: space-between;
    width: 100%;
}
#newProductButton{
    margin: 0;
}

@media (min-width: 361px){

    main{
        margin: auto;
    }
    .productFeatures ul{
        margin-top: 5px;
        margin-left: 18px;
    }
    .productPrice {
        padding: 0px 10px;
    }
    main .title{
        max-width: 600px;
        margin: auto;
    }  
    
    main .title h2, main .title p{
        margin: 15px 10px;
    }
    .products {
        flex-direction: row;
        align-items: baseline;
    }
   
    .products article{
        width: 87%;
    }
  
    .info{
        width: 40%;
    }
 
}

@media (min-width: 769px){

    h3{
        font-size: 1em;
    }
    .newProductForm{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 60px;
    }
    .products article{
        width: 40.3%;
        justify-content: space-between;
        height: 150px;
    }
    
    .info{
        flex-direction: column;
    }

    .productFeatures{
        display: flex;
    }

    img{
        margin-bottom:5px;
        width: 120px;
        margin: 10px;
    }
}
