main{
    padding: 0 10px;
}

main img{
    width: 100%;
    height: 100%;
}

main>a{
    display: inline-block;
    width: 100%;
    text-align: right;
    text-decoration: none;
    color:#71D894;
    font-weight: 700;
    padding-right: 10px;
    padding-bottom: 5px;
}

.producto-container{
    margin:auto;
    width:90%;
    padding:15px;

    display: flex;
    flex-direction: column;

    border: 1px solid #B7BDC7;
    border-radius: 8px;
    box-shadow: 3px 5px 15px #b7bdc7;
    
}
.fotos-secundarias-container{
    display: flex;
    flex-wrap: nowrap;
}
.foto-principal-container,
.fotos-secundarias-container div{
    margin: 5px 10px 15px;
}


.informacion-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.marca{
    color:#868FA0;
    font-size: 14px;
}
.celular-nombre{
    color:#2E3646;
    font-size: 18px;
    text-transform: uppercase;
}
.descripcion{
    color:#2E3646;
    font-size: 12px;
    font-weight: 500;
}
.bottom-info{
    margin-top: 15px;
    display:flex;
}
.precio-container{
    width: 40%;
}

.precio-container h3{
    color:#2E3646;
    font-size: 12px;
}
.precio-container p{
    color:#71D894;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
}

.bottom-info button{
    width: 60%;

    font-size: 12px;
    font-weight: 700;
    padding: .25em .5em;
    
    background-color: #71D894;
    border: 1px solid #B7BDC7;
    border-radius: 8px;
}
#carrito-icon-body{
    font-size: 10px;
}

.relacionados-container{
    margin: 25px auto;
    padding:15px;
    
    display: flex;
    align-items: center;   
}

.relacionados-logo{
    display: none;
}

.relacionados-foto-container{
    /* flex-basis: 50%; */

    margin: auto 5px;
    padding: 2px;

    border: 1px solid #B7BDC7;
    border-radius: 8px;  
    box-shadow: 1px 3px 8px #b7bdc7;
}
.relacionados-foto-container a{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color:#71D894;
    font-weight: 700;    
}

.relacionado-nombre{
    order: -1;
}
.relacionados-marca{
    color:#2E3646;
    font-size: 12px;
    font-weight: 500;
}
.relacionados-marca span{
    font-size: 14px;
    font-weight: 700;
}


/* tablet */
@media (min-width: 361px){
    .relacionados-container{
        width: 90%;
    }

    .relacionados-info{
        margin: 0 5px;
        align-self: stretch;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .relacionados-logo{
        display: block;
        margin: auto;
    }
    .relacionados-logo img{
        width: 100%;
        height: 100%;
    }
}


/* desktop */
@media (min-width: 769px){
    main>a{
        text-align: left;
        margin-left: 20px;
    }
    .producto-container{
        flex-direction: row;
        align-items: center;
        height: 75vh;
    }
    .fotos-secundarias-container{
        flex-direction: column;
        width: 15%;
        align-self: stretch;
        justify-content: space-around;
    }
    
    .foto-principal-container{
        width: 30%;
        flex-grow: 1;
    }
    .informacion-container{
        width: 35%;
        align-self: stretch;
        justify-content: space-around;
    }
    .relacionados-info{
        align-items: flex-start;
        align-self: auto;
    }
    .relacionados-logo{
        width: 50%;
        margin: 20px 0;
    }
    .relacionados-foto-container{
        width: 80%;
    }
}