main{
    max-width: 600px;
    margin: auto;
    background-color: #71D894;
}

.mainHeader{
    margin-top: 50px;
    box-shadow: 0px 0px 10px 0px #919191;
}

main h2{
    padding-top: 10px;
    padding-left: 20px;
}

main .myProfile{
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}

main .accountInfo{
    background-color: #EFF1F4;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px #919191;
}

main .accountInfoBox{
    padding: 5px 0px;
}

.accountInfo h3{
    padding-bottom: 5px;
}

.myProfile img{
    width: 200px;
    margin-bottom: 10px;
    border-radius: 10%;
}