<header>
    <div class="logoHeader"><a href="/"><img src="/images/logos/Logo.svg" alt="Logo Genial de Intercel"></a></div>
    
    <div class="searchBar">
        <input autocomplete="off" type="text" name="userValue" placeholder="¿Qué buscas?"><button id="search-icon"><i class="fas fa-search"></i></button>
    
        <ul class="options">
            <a href="/products/list"><li>Productos</li></a>
        </ul>
    </div>
    

    <nav class="navHeader">
        <i class="fas fa-bars" id="hamburgerMenu"></i>
        <ul>
            <li id="productosHeader"><a href="/products/list">Productos</a>
                <div class="options">
                </div>        
            </li>

            <li id="nosotrosHeader"><a href="/soon">Nosotros</a></li>
            
            <% if (locals.logged) { %> 
                <%- include('./auth')  %> 
            <% } else{ %> 
                <%- include('./guest')  %> 
            <% } %> 

            <div class="loginFormContainer">
                    
                <form class="loginForm" action="/login" method="POST">
                    <h2>Iniciar sesión</h2>
                    <div class="controlForm">
                        <label>Nombre de usuario</label>
                        <input type="text" name="usuario" class="control" required>
                        <span class="controlError">Incorrecto</span>
                    </div>
                    <div class="controlForm">
                        <label>Contraseña</label>
                        <input type="password" name="contrasena" class="control" required>
                        
                        <span class="controlError">Incorrecto</span>
                    </div>
                    <div class="remember-pass"><a href="#"> Olvidé mi contraseña</a></div>
                    <button type="submit" class="botonLogin">Iniciar sesión</button>
                    <div class="registerContainer"><p>Sin cuenta?</p><a id="registerButton" href="register"> Registrate</a></div>
        
                </form>
            </div>
            <li id="cartHeader"> 
                <i class="fas fa-shopping-cart" id="cartIcon"></i>
                <a href="/cart/list">Carrito</a>
            </li>
        </ul>
    </nav>
</header>
