    <!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head') %> 
    <title>Intercel</title>
    <link rel="stylesheet" href="/css/loginRegister.css">

</head>
<body>      
    <div  class="backButton"><a href="/"><i class="fas fa-arrow-left"></i>    Volver</a></div>

    <main>        
        <div class="container">
        <a href="/"> <img src="/images/logos/Logo.svg" width="200"> </a>
        <h2>Registrarse</h2>
            <form class="createForm" action="/" method="POST">
            
            <div  class="registerWith" >
                <div><button class="registerGoogle"><i class="fab fa-google"></i>    Registrate con Google </button></div>
                <div><button class="registerFacebook"><i class="fab fa-facebook-f"></i>    Registrate con Facebook </button></div>
            </div>
                <br>
                <div class="formControl">
                    <label>Nombre</label>
                    <input type="text" name="name" class="control"  minlength="3" required>
                </div>
                <div class="formControl">
                    <label>Apellido</label>
                    <input type="text" name="lastName" class="control" minlength="3" required>
                </div>
                <div class="formControl">
                    <label>Teléfono</label>
                    <input type="tel" name="phoneNumber" class="control" minlength="7" required>
                </div>
                <div class="formControl">
                    <label>Correo electrónico</label>
                    <input type="email" name="email" class="control" required>
                </div>
                <div class="formControl">
                    <label>Contraseña</label>
                    <input type="password" name="password" class="control" minlength="8" required>
                </div>
                <div class="formControl">
                    <label>Avatar</label>
                    <input type="file" name="photo" class="control" accept=".jpg, .png">
                </div>
                <button type="submit" class="formButton">Registrarse</button>
            
                <div class="texts">Ya tienes cuenta?<a href="login"> Iniciar sesión</a></div>
            </form>
        </div>

    </main>


</body>

</html>
