<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head') %>

<!-- nuestros css -->
    <link rel="stylesheet" href="/css/headerFooter.css">
    <link rel="stylesheet" href="/css/productCart.css">

    <title>Intercel - Carrito</title>
</head>
<body>
    <!-- HEADER -->
    <%- include('../partials/header') %>
    <main>
        <section class="process">
            <div>
                <i class="fas fa-check"></i>
                <p>Compra</p>
                <i class="fas fa-chevron-right"></i>
                <p class="number">2</p>
                <p>Despacho</p>
                <i class="fas fa-chevron-right"></i>
                <p class="number">3</p>
                <p>Pago</p>
                <i class="fas fa-chevron-right"></i>
                <p class="number">4</p>
            <p>Confirmación</p>
            </div>
        </section>
        <h2 class="order">Orden de compra</h2>
        <div class="mainContent">
            <div class="carts">
                <section class="cart">
                    
                    <article class="cart1">
                        <div class="productContainer1">
                            <img src="/images/cellphones/Iphone.png" class="iphone">
                            <div class="productFeatures">
                                <h3>Apple</h3>
                                <p>Iphone X</p>
                                <ul>
                                    <li>Negro</li>
                                    <li>128 GB</li>
                                    <li>8GB RAM</li>
                                </ul>
                            </div>
                            <div class="delivery">
                                <h3>Envío</h3>
                                <p>Domicilio</p>
                                <i class="fas fa-truck"></i>
                            </div>
                        </div>
                        <div class="productContainer2">
                            <div class="productPrice">
                                <h3>Precio</h3>
                                <p>$179.449</p>
                            </div>
                            <div class="productQuantity">
                                <h3>Cantidad</h3>
                                <div class="quantityButton">
                                    <p class="symbol" >-</p>
                                    <p>1</p>
                                    <p class="symbol" >+</p>
                                </div>
                            </div>
                        </div>
                        <p class="deleteProduct">Eliminar</p>
                    </article>
                    <article class="cart2">
                        <div class="productContainer1">
                            <img src="/images/cellphones/Moto.png" alt="motorola">
                            <div class="productFeatures">
                                <h3>Motorola</h3>
                                    <p>Motorola G7</p>
                                    <ul>
                                        <li>Negro</li>
                                        <li>128 GB</li>
                                        <li>8GB RAM</li>
                                    </ul>
                            </div>
                            <div class="delivery">
                                <h3>Envío</h3>
                                <p>Domicilio</p>
                                <i class="fas fa-truck"></i>
                            </div>
                        </div>
                        <div class="productContainer2">
                            <div class="productPrice">     
                                <h3>Precio</h3>
                                <p>$179.449</p>
                            </div>   
                            <div class="productQuantity">
                                <h3>Cantidad</h3>
                                <div class="quantityButton">
                                    <p class="symbol">-</p>
                                    <p>1</p>
                                    <p class="symbol">+</p>
                                </div>
                            </div>
                        </div>
                        <p class="deleteProduct">Eliminar</p>
                    </article>
                </section>
            </div>
            <section class="payment">
                <div class="discountButton">
                    <input type="text" value="Código de descuento" class="discountNumber">
                    <input type="button" value="Aplicar" class="applyButton">
                </div>
                <div class="orderSummary">
                    <h3>Resumen de tu Orden</h3>
                    <div class="summary">
                        <div class="subtotal">
                            <h4>Subtotal productos</h4>
                            <p>$349.998</p>
                        </div>
                        <div class="deliveryCost">
                            <h4>Envío</h4>
                            <p>$0</p>
                        </div>
                        <div class="finalDiscount">
                            <h4>Descuentos</h4>
                            <p>$0</p>
                        </div>
                        <div class="total">
                            <h4>Total</h4>
                            <p>$349.998</p>
                        </div>
                    </div>
                    <div class="paymentButton">
                        <input type="button" value="Finalizar compra" class="payButton">
                    </div>
                </div>
            </section>

            <section>
                <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Productos</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Cantidad</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                      </tr>
                    </tbody>
                  </table>
            </section>
        </div>
    
    </main>
    
    <!-- FOOTER -->
    <%- include('../partials/footer') %>
</body>
</html>
