<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head') %> 

    <title>Intercel</title>

    <link rel="stylesheet" href="/css/loginRegister.css">
    
</head>
<body>   
    <div  class="backButton"><a href="/"><i class="fas fa-arrow-left"></i>    Volver</a></div>
    <main>

        <div class="container">
            <a href="/"> <img src="/images/logos/Logo.svg" width="200"> </a>
            <h2>Iniciar sesión</h2>

            <form class="createForm" action="/users/login" method="POST">
                <div class="formControl">
                    <label>Email</label>
                    <input type="email" name="email" class="control" required>
                </div>
                <div class="formControl">
                    <label>Contraseña</label>
                    <input type="password" name="contrasena" class="control" required>
                    <div class="texts"><a href="#"> Olvidé mi contraseña</a></div>
                </div>
            <br>
                
                <div class="input-container">
                    <input type="checkbox" name="remember" id="remember" value="yes"/> Recordar usuario
                </div>

                <button type="menu" class="formButton">Iniciar sesión</button>
                <div class="texts">No tienes cuenta?<a href="register"> Registrate</a></div>

            </form>
        </div>
    </main>    

</body>
</html>