<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head') %> 

    <title>Intercel - Iniciar sesión</title>

    <link rel="stylesheet" href="/css/loginRegister.css">
    <script src="/js/login.js"></script>
    
</head>
<body>   
    <div  class="backButton"><a href="/"><i class="fas fa-arrow-left"></i>    Volver</a></div>
    <main>

        <div class="container">
            <a href="/"> <img src="/images/logos/Logo.svg" width="200"> </a>
            <h2>Iniciar sesión</h2>

            <form class="createForm" action="/users/login" method="POST">
                <div  class="formControl">
                    <label>Email</label>
                    <input id='email' name="email" class="control"  value=<%= locals.errors && valuesFromUser ? valuesFromUser.email : ''%>>
                    <p id='emailError' class="errorMsg"> <%= (locals.errors && errors.email) ? errors.email.msg : ''%> </p>
                    
                </div>
                <div class="formControl">
                    <label>Contraseña</label>
                    <input id='password' type="password" name="password" class="control">
                    <p id='passwordError' class="errorMsg"> <%= (locals.errors && errors.password) ? errors.password.msg : ''%> </p>
                    <div class="texts"><a href="#"> Olvidé mi contraseña</a></div>
                    
                </div>
                <br>
                
                <div class="input-container">
                    <input type="checkbox" name="remember" id="remember" value="yes"/> Recordar usuario
                </div>
                
                <button type="menu" class="formButton">Iniciar sesión</button>
                <div class="texts">No tienes cuenta?<a href="register"> Registrate</a></div>
                
                <p id='formError' class="errorMsg">  </p>
            </form>
        </div>
    </main>    
    
</body>
</html>